.container{
  margin: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #bbb;
}

.container{
  margin: auto;;
  width: 80%;
  min-height: 100vh;
  background: #fff;
}
.navbar{
  background-color: rgb(240, 155, 155);
  padding: 20px;
}
.navbar a{
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.content{
  display: flex;
  padding:20px;
}
.main{
  width: 70%;
  padding-right: 20px;
}
.main img{
  width: 100%;
  max-height: 400px;
  
}
.main p{
  font-size: 16px;
  line-height: 1.6;
}
.sidebar{
  width: 30%;
  padding-left: 20px;
  border: 2px solid salmon;
}
.sidebar h3{
  background-color: rgb(255, 0, 170);
  margin-right:20px ;
  padding: 15px;
}
.heading{
  color: rgba(255,0,0,1);
  text-align: center;
  font-size: 60px;
}
.footer{
  background-color: rgb(240, 155, 155);
  padding: 20px;
  text-align: center;
  color: blue;
}