*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 142, 141);
}
.profile{
   display: flex;
 align-items: center;
 flex-direction: column;
  max-width: 370px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  padding: 20px ;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  border-radius: 20px;
}
.profile::before{
  content: "";
  position: absolute;
  
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: blue;
}
.img{
  position: relative;
  height: 150px;
  width: 150px;
   border-radius: 50%;
 background-color: blue;
  padding: 3px;
  margin: 10px;
  
}
.image{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);

}
.text{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name{
  font-size: 20px;
  font-weight: 700;
}
.job{
  font-size: 15px;
  font-weight: 600;
}
.media{
  display: flex;
  justify-content: center;
  margin-top: 5px ;
}
.link{
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 81, 255);
  width: 34px;
  height: 34px;
  font-size: 18px;
  border-radius: 100px;
}
.buttons{
  display: flex;
  align-items: center;
  margin: 10px;
}
.button{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(56, 56, 248);
  color: #fff;
  cursor: pointer;
}

.button:hover{
  color: rgb(21, 22, 22);
  background-color: rgb(236, 97, 97);
}
