* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(87, 175, 226);
  height: 100vh;
}

.formCard {

   background:white;
  border-radius: 12px;
  box-shadow: 15px 1px 35px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
  
  padding: 25px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  font-size: 14px;
}
 input {
     width: 100%;
     padding: 12px;
     margin: 5px;
     border-radius: 5px;
     border: 1px solid gray;
     outline: none;
    }
button {
  width: 100%;
  padding: 5px;
   background: rgb(87, 175, 226);
   border: none;
   border-radius: 5px;
   font-weight: 500;
   font-size: 16px;
   cursor: pointer;
}
button:hover{
     background: rgb(132, 140, 243);

}

.layer{
  display: none;
  position: fixed;
  background: white;
  padding: 20px;
  border: 2px solid rgb(132, 140, 243);
  border-radius: 12px;
  
}